@{
    Layout = "_Layout";
}

<article id="mainArticle">
    <h1>Explore my blog!</h1>
    <p>Expore my blog contents here</p>
    <h1>Explorer's Podcast</h1>
    <div class="blog-posts">
        TODO: blog will come here.
    </div>
</article>
